{% extends "home.html" %} 

{% block title %}
    Find a game
{% endblock %}

{% block additional_scripts %}
    <script src="{{ url_for('static', filename='js/authenticated_js/find_game_functions.js') }}"></script>
{% endblock %}


{% block content %} 
    <header class="header text-center">
            <h1 class="display-6">Find a game</h1>
    </header>

    <section class="find-game game_content">
        <div class="row">
            <div class="col-12 col-sm-4 p-0 find-game-options">
                <div class="text-center">
                    <a href="#create_a_game">
                    <button class="btn btn-primary col-10 mx-auto col-sm-8 p-2">Create a game</button>
                    </a>
                </div>
                <div class="col-10 col-sm-8 mx-auto my-2 text-center">
                    <a href="#add_club" class="link">Club not listed? Click here to add</a>
                </div>
                <div class="col-8 mx-auto text-center">
                    <form>
                        <div class="form-group">
                            <label for="dropdown" class="bold-input-label">Display open games for:</label>
                            <select class="form-control text-center form-select" id="dropdown">
                                <option id="sub_option" value="subscribed" onclick="displayEvents(false);">Subscribed clubs</option>
                                <option id="all_option" value="all">All clubs</option>
                                <!-- More options added for each club when page loads -->
                            </select>
                            <br />
                            <div class="form-group" id="date-picker-container">
                                <p for="date-selection" class="bold-input-label my-0">Select Date Range:</p>
                                <div class="form-group">
                                    <label for="start-datetime">Start Date:</label>
                                    <input type="datetime-local" class="form-control text-center" id="start-datetime" value="{{ current_datetime }}" min="{{ current_datetime }}">
                                </div>
                                <div class="form-group">
                                    <label for="end-datetime">End Date:</label>
                                    <input type="datetime-local" class="form-control text-center" id="end-datetime" min="{{ current_datetime }}">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
            <form id="event_form" method="POST" class="col-12 col-sm-7 p-sm-0 p-4">
                <div class="find-game-board"> 
                </div>
            </form>
        </div>
    </section>
    
    <br />
{% endblock %}