{% extends "base.html" %} 

<!-- replaces modal scripts in base -->
{% block modal_script %}
    <script src="{{ url_for('static', filename='js/authenticated_js/modals.js') }}"></script>  
    <script src="{{ url_for('static', filename='js/authenticated_js/fetch_functions.js') }}">
    </script>
{% endblock %}

{% block nav_items %}
    <li class="nav-item ">
        <a class="nav-link" href="{{ url_for('my_game_chats') }}">My game chats</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('find_game') }}">Find a game</a>
    </li> 
    <li class="nav-item"><a class="nav-link" href="#contact" onclick="toggleNavbarCollapse()">Contact</a></li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
        <ul class="dropdown-menu">
        <li><a class="dropdown-item" onclick="openModal('subs')">Manage subscriptions</a></li>
        <li><a class="dropdown-item" onclick="openModal('hc')">Update handicap</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{{ url_for('logout') }}">Sign out</a></li>
        </ul>
    </li>
{% endblock %}


{% block content %} 
    <header class="mainheader">
        <div class="header-content">
            <h1>Tee Time Hub</h1>
            <h2>Empowering Your Play:<br/>The Ultimate Event Coordinator!</h2>
        </div>
    </header>
{% endblock %}