{% extends "home.html" %} 

{% block title %}
    My game chats
{% endblock %}

{% block additional_scripts %}
    <script src="{{ url_for('static', filename='js/socket.io/socket.io.js') }}" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/authenticated_js/game_chat_functions.js') }}">
    </script>
{% endblock %}

{% block content %} 
    <header class="header text-center">
            <h1 class="display-6">My game chats</h1>
    </header>
    
    <section class="game_chat game_content">
        <hr class="col-11 mx-auto">
        
        <div class="row">

            <!-- List of users chats -->
            <div class="col-12 col-sm-4 p-sm-0 p-4 game_chat_list">
                <div class="d-flex flex-wrap justify-content-center">
                {% for chat in users_chats %}
                    <a onclick='disconnectAndNavigate("{{ chat.event_id }}")' class="chat-box link col-10 col-sm-8 mx-auto mx-sm-0 my-0 p-2 border rounded text-start {% if chat.event_id == load_chat %} loaded_chat {% endif %}" {% if chat.event_id == load_chat %} id='{{ load_chat }}' {% endif %}>
                        <div class="d-flex justify-content-between">
                            <div>
                                {{ club_info[chat.event.club_id] }}
                            </div>
                            <div>
                                {{ chat.event.planned_datetime.strftime('%d-%m-%Y %H:%M') }}
                            </div>
                        </div>
                        {% if chat.event.event_name %}
                        <div>
                            {{ chat.event.event_name }}
                        </div>
                        {% endif %} 
                    </a>
                {% endfor %}
                
                </div>
            </div>

            

            <div class="col-12 col-sm-7 p-sm-0 p-4 message-window">
                <div class="messages">
                    <!-- Loads chat messages -->
                    {% if load_chat %}
                    {% for chat in users_chats %}
                    {% if chat.event_id == load_chat %}
                    {% for message in chat.messages %}
                    {% if message.user_id == user.user_id %}
                    <!-- When user is author, puts message to right -->
                    <div class='d-flex flex-wrap justify-content-end my-3'>

                    {% else %}
                        <!-- For other users, adds authors username and puts message to left -->
                    <div class='d-flex flex-wrap justify-content-start'>
                        
                        <div class="author col-10 col-sm-8 d-flex flex-wrap justify-content-start px-1">{{ chat_users[message.user_id] }}</div>
                                        
                    {% endif %}
                        <!-- Adds message and timestamp -->
                        <div class="message-box border rounded col-10 col-sm-8 d-flex flex-column">
                            <div class="px-2 d-flex flex-wrap justify-content-start">{{ message.message }}</div>
                                
                            <div class="px-2 d-flex justify-content-end timestamp">{{ message.timestamp.strftime('%d-%m-%Y %H:%M') }}</div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                </div>
                <form id="new_message_form" method="POST" class="col-12 p-sm-0 p-4 my-4 d-flex align-items-center">
                    <div class="input-group">
                        <input type="text" class="form-control" id="new_message_input" name="new_message_input" placeholder="Type a message">
                        <input type="hidden" id="chat_id" name="chat_id" value="{{ load_chat }}">
                        <button id="submit_message" class="btn btn-primary"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
                    </div>
                </form>
                    {% else %}
                    <!-- Alt message when no chat to load -->
                    <div class="d-flex flex-wrap justify-content-start my-3">
                        <div class="chat-box border rounded col-10 col-sm-8 d-flex flex-column">
                            <div class="px-2 d-flex flex-wrap justify-content-start">Select a chat</div>
                        </div>
                    </div>
                </div>
                    {% endif %}
            </div>
        </div>
    </section>
    <div style="display: none;" id="user-id" data-user-id="{{ user.user_id }}"></div>
    <br />
{% endblock %}

